<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <!-- Campground Options -->
            <div class="col-md-3">
                <p class="lead">YelpCamp</p>
                <div class="list-group">
                    <a class="list-group-item active" href="#">Info</a>
                    <a class="list-group-item" href="#">Contact</a>
                    <a class="list-group-item" href="#">Location</a>
                </div>
            </div> <!-- end Campground Options -->
            <!-- Campground Info -->
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="image-responsive" src="<%= campground.image %>" alt="Campground Image">
                    <div class="caption-full">
                        <h4 class="pull-right">$<%= campground.price %> / night</h4>
                        <h4><a><%= campground.name %></a></h4>
                        <h5>Submitted by <strong><em><%= campground.author.username %></em></strong></h5>
                        <p><%= campground.description %></p>
                        <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                            <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                            <form id="deleteForm" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div> <!-- end Campground Info -->
                <!-- Comments Section -->
                <div class="well">
                    <div class="text-right">
                        <a class="btn btn-sm btn-success" href="/campgrounds/<%= campground._id %>/comments/new">
                            Add New Comment
                        </a>
                    </div>
                    <hr>
                    <% if (!campground.comments.length) { %>
                        <p class="text-center">No comments yet</p>
                    <% } else { %>
                        <% campground.comments.forEach(comment => { %>
                            <div class="row"> <!-- start comment -->
                                <div class="col-md-12">
                                    <strong><%= comment.author.username %></strong>
                                    <span class="pull-right">
                                        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                            <a class="btn btn-xs btn-warning"
                                            href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                            Edit
                                            </a>
                                            <form class="deleteForm" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                <button class="btn btn-xs btn-danger">Delete</button>
                                            </form>
                                        <% } %>
                                        <%= comment.date %>
                                    </span>
                                    <p><%= comment.text %></p>
                                    <hr>
                                </div>
                            </div> <!-- end comment -->
                        <% }) %>
                    <% } %>   
                </div> <!-- end Comments Section-->
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->

<% include ../partials/footer %>