<% include ../partials/header %>


    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <p class="lead">YelpCamp</p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </div>
            </div>

            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="image-responsive" src="<%= campground.image %>" alt="Campground Image">
                    <div class="caption-full">
                        <h4 class="pull-right">$9.00/night</h4>
                        <h4><a><%= campground.name %></a></h4>
                        <h5>Submitted by <strong><em><%= campground.author.username %></em></strong></h5>
                        <p><%= campground.description %></p>
                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form id="deleteForm" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <div class="well">
                    <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">
                            Add New Comment
                        </a>
                    </div>
                    <hr>
                    <% if (!campground.comments.length) { %>
                        <p class="text-center">No comments yet</p>
                    <% } else { %>
                        <% campground.comments.forEach(comment => { %>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong><%= comment.author.username %></strong>
                                    <span class="pull-right"><%= comment.date %></span>
                                    <p><%= comment.text %></p>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>   
                </div>
            </div>
        </div>
    </div>


<% include ../partials/footer %>